.card {
  display: none;
  border: 1px solid rgba(#fff,0);
  transition: all .4s ease-in-out;
  .media {
    figure {
      border-radius: .25rem;
      border: 1px solid #999;
      background-size: cover;
      background-position: center;
      background-color: #ccc; 
    }
  }
  &:hover {
    background-color: #eee;
    border: 1px solid rgba(#ccc,1);
    cursor: pointer;
  }
  &.is-active {
    display: block;
  }
}